@import './base.css';

/* 

    Screen Width Adaptions

*/

@media (max-width: 600px) {
  .statusArea {
    display: none;
  }
}

@media (max-width: 415px) {
  .statusArea {
    display: none;
  }

  .headerContent {
    flex-direction: column;
  }

  .wordmark {
    margin-bottom: 15px;
  }

  .sparkles::before {
    display: none !important;
  }

  .sparkles::after {
    display: none !important;
  }
}

/* 

    Header Area

*/

/* Status Text */
.statusArea {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.status {
  color: var(--txt1);
  font-family: var(--font1);
  font-size: 16px;
}

/* Title */
.pageHeader {
  padding-top: 75px;
  padding-bottom: 25px;
  background-image: url("https://assets.orchidmc.me/images/orchidmcme/header2.png");
  background-position: bottom;
}

.pageHeader.noImage {
  background-image: none !important;
}

.pageHeaderContent {
  text-align: left;
  max-width: 1024px;
  margin: auto;
}

.pageHeaderItem {
  color: var(--txt1);
  font-family: var(--font1);
  font-weight: 400;
  font-size: 16px;
  padding: 60px;
  max-width: 500px;
}

.pageHeaderItemText {
  line-height: 1.5;
  text-shadow: 0px 0px 20px #000000;
}

.pageHeaderItemContainer {
  display: flex;
  align-items: center;
}

/* 

    Page Content

*/

hr {
  border-radius: 10px;
  height: 5px;
  border: none;
  background-color: var(--bg0-50);
  width: 100px;
}

a {
  text-decoration: none;
  color: var(--txt1);
}

p {
  margin-top: 0px;
  margin-bottom: 0px;
}

h1 {
  padding-top: 30px;
}

.pageContent {
  max-width: 1024px;
  padding-top: 60px;
  text-align: center;
  margin: auto;
}

.contentHeading {
  font-family: var(--font2);
  color: var(--txt1);
  font-size: 22px;
}

.noMargin {
  margin: 0px !important;
}

/* Page Item9 */
.pageItemContent {
  align-items: flex-start;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  max-width: 1024px;
}

.pageItemContentItem {
  width: 300px;
  text-align: left;
  margin: 30px;
  display: block;
}

.pageItemContentItemTitle {
  color: var(--txt1);
  font-family: var(--font2);
  font-weight: 600;
  font-size: 22px;
  display: inline-block;
  padding-bottom: 2px;
}

.pageItemContentItemBody {
  color: var(--txt2);
  font-family: var(--font1);
  font-weight: 400;
  font-size: 16px;
}

.pageItemContentItemUpper {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.pageItemContentSupporters {
  padding-top: 30px;
  margin-bottom: 30px;
}

/* Voting Links */
.votingLink {
  cursor: pointer;
}

.strike {
  text-decoration-line: line-through;
}

/* Supporters */
.supporterImage {
  border-radius: 100px;
  height: 50px;
  width: 50px;
  margin: 7px;
  display: inline;
}

.supporterContainer {
  display: flex;
  align-items: center;
  margin: 10px;
}

.supporterContent {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-width: 130px;
}

.supporterName {
  color: var(--txt2);
  font-family: var(--font1);
  font-weight: 400;
  font-size: 15px;
}

.supportBox {
  margin-top: 30px;
  background-image: linear-gradient(31deg, #8c70da60, #29816e60);
  border-radius: 20px;
  box-shadow: inset 0px -2px 3px -1px var(--btn-shadow);
}

.supportBoxInner {
  max-width: 300px;
  margin: 30px;
}

.supportBoxContent {
  font-family: var(--font2);
  font-size: 18px;
  font-weight: 500;
}

.supportBoxText {
  text-align: center !important;
}

/* Footer */
.ossLink {
  color: var(--accent1);
  text-decoration: underline !important;
}