@import './base.css';

/* 

    Screen Width Adaptions

*/

@media (max-width: 600px) {
  .statusArea {
    display: none;
  }
}

@media (max-width: 415px) {
  .statusArea {
    display: none;
  }

  .headerContent {
    flex-direction: column;
  }

  .wordmark {
    margin-bottom: 15px;
  }

  .sparkles::before {
    display: none !important;
  }

  .sparkles::after {
    display: none !important;
  }
}

hr {
  border-radius: 10px;
  height: 5px;
  border: none;
  background-color: var(--bg0-50);
  width: 100px;
}

a {
  text-decoration: none;
  color: var(--txt1);
}

p {
  margin-top: 0px;
  margin-bottom: 0px;
}

h1 {
  padding-top: 30px;
}

.pageContent {
  max-width: 1024px;
  padding-top: 60px;
  text-align: center;
  margin: auto;
}

.contentHeading {
  font-family: var(--font2);
  color: var(--txt1);
  font-size: 22px;
}

.noMargin {
  margin: 0px !important;
}

/* Page Item */
.pageItemContent {
  align-items: flex-start;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  max-width: 1024px;
}

.pageItemContentItem {
  width: 300px;
  text-align: left;
  margin: 30px;
  display: block;
}

.pageItemContentItemTitle {
  color: var(--txt1);
  font-family: var(--font2);
  font-weight: 600;
  font-size: 22px;
  display: inline-block;
  padding-bottom: 2px;
}

.pageItemContentItemBody {
  color: var(--txt2);
  font-family: var(--font1);
  font-weight: 400;
  font-size: 16px;
}

.pageItemContentItemUpper {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.pageItemContentSupporters {
  padding-top: 30px;
  margin-bottom: 30px;
}