/* Theming */
:root {
  color-scheme: dark;

  --background-primary: #242329;
  --background-secondary: #1b1a1f;
  --background-secondary-alt: #151418;
  --background-tertiary: #0c0b0e;
  --background-accent: #36343f;

  --background-primary-80: #24232980;
  --background-secondary-80: #1b1a1f80;
  --background-secondary-alt-80: #15141880;
  --background-tertiary-80: #0c0b0e80;
  --background-accent-80: #36343f80;

  --background-primary-50: #24232950;
  --background-secondary-50: #1b1a1f50;
  --background-secondary-alt-50: #15141850;
  --background-tertiary-50: #0c0b0e50;
  --background-accent-50: #36343f50;

  --background-primary-20: #24232920;
  --background-secondary-20: #1b1a1f20;
  --background-secondary-alt-20: #15141820;
  --background-tertiary-20: #0c0b0e20;
  --background-accent-20: #36343f20;

  --text-primary: #ffffff;
  --text-muted: #e5e3ee;
  --text-hover: #cac7d5;

  --accent-primary: #da70d6;

  --font: "Source Sans Pro", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --font-display: "Commissioner", "Source Sans Pro", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@font-face {
  font-family: "Commissioner";
  src: url('./Commissioner/Commissioner-VariableFont.ttf');
}

@font-face {
  font-family: "Source Sans Pro";
  font-weight: 900;
  src: url('./SourceSansPro/SourceSansPro-Black.ttf');
}

@font-face {
  font-family: "Source Sans Pro";
  font-weight: 900;
  font-style: italic;
  src: url('./SourceSansPro/SourceSansPro-BlackItalic.ttf');
}

@font-face {
  font-family: "Source Sans Pro";
  font-weight: 700;
  src: url('./SourceSansPro/SourceSansPro-Bold.ttf');
}

@font-face {
  font-family: "Source Sans Pro";
  font-weight: 700;
  font-style: italic;
  src: url('./SourceSansPro/SourceSansPro-BoldItalic.ttf');
}

@font-face {
  font-family: "Source Sans Pro";
  font-weight: 600;
  src: url('./SourceSansPro/SourceSansPro-SemiBold.ttf');
}

@font-face {
  font-family: "Source Sans Pro";
  font-weight: 600;
  font-style: italic;
  src: url('./SourceSansPro/SourceSansPro-SemiBoldItalic.ttf');
}

@font-face {
  font-family: "Source Sans Pro";
  font-weight: 400;
  src: url('./SourceSansPro/SourceSansPro-Regular.ttf');
}

@font-face {
  font-family: "Source Sans Pro";
  font-weight: 400;
  font-style: italic;
  src: url('./SourceSansPro/SourceSansPro-Italic.ttf');
}

@font-face {
  font-family: "Source Sans Pro";
  font-weight: 300;
  src: url('./SourceSansPro/SourceSansPro-Light.ttf');
}

@font-face {
  font-family: "Source Sans Pro";
  font-weight: 300;
  font-style: italic;
  src: url('./SourceSansPro/SourceSansPro-LightItalic.ttf');
}

@font-face {
  font-family: "Source Sans Pro";
  font-weight: 200;
  src: url('./SourceSansPro/SourceSansPro-ExtraLight.ttf');
}

@font-face {
  font-family: "Source Sans Pro";
  font-weight: 200;
  font-style: italic;
  src: url('./SourceSansPro/SourceSansPro-ExtraLightItalic.ttf');
}